@media only screen and (max-width:768px) {
    
.container{
    max-width: 100%;
}

.nav__bar a{
    display: none;
}

.nav a{
    display: none;
}
.nav .fa-bars{
    display: block;
}

.home__info{
    width: 100%;
}

.home__info p{
    color: black;
    font-family: Ubuntu;
    text-align: center;
    font-size: 1rem;
    width: 100%;
}
.home__info h2{
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 0.5rem;
    color: blue;
    font-size: 1.5rem;
    width: 100%;
}
.home__info input{
    margin-bottom: 1rem;
}

.features__content{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
}

.about__content{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
    padding: 6rem;
}

.about__item{
    width: 100%;
    background-color: rgb(232, 255, 253);
}
.people__content{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}

.people__title{
    width: 100%;
    height: 80%;
    background-color: #202020;
    padding: 4rem 0;
}
.people__img img{
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 100%;
    margin-left: 14%;
}
.people__img h4{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 20px;
}
.pricing{
    text-align: center;
}

.pricing__content{
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    gap: 1.5rem;
}
.pricing__item{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 2rem 0;
}
.contact__content input{
    width:88%;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.contact__content input[type="submit"]{
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    width: 35%;
    background-color: #202020;
    color: white;
    border: none;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.contact__content textarea{
    width: 85%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
}















/* res 368px */
@media only screen and (max-width:368px) {
    
.home__info p{
    color: black;
    font-family: Ubuntu;
    text-align: center;
    font-size: 0.9rem;
}
.home__info h2{
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 0.5rem;
    color: blue;
    font-size: 0.9rem;
    width: 100%;
}

.pricing{
    width: 100%;
    padding: 4.8rem 0;  
    background-color: #F9F9F9;
}

.pricing__item{
    width: 245px;
    height: 290px;
    background-color: white;
    padding: 2rem;
}

.pricing__item h4{
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #dfdfdf;
    padding-bottom: 1rem;
}
.pricing__item button{
    padding: 0.3rem 1.3rem;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: #29CA8E;
    color: white;
    font-size: 1.1rem;
    transition: 0.4s;
}
.home__info input{
    margin-bottom: 0.2rem;
}

.home__info input{
    display: none;
}
.home__info button{
    display: none;
}

.people__title h2{
    color: white;
    font-size: 2.2rem;
    font-family: sans-serif;
    text-align: start;
    margin-bottom: 3rem;
    width: 100%;
}
.people__title p{
    color: white;
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 6rem;
    width: 100%;
}

.about__content{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
    padding: 6rem 0;
}
.about__item{
    width: 100%;
    background-color: rgb(232, 255, 253);
}

.pricing__content{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 0.5rem;
    text-align: center;
}
.pricing__item{
    width: 365px;
    height: 390px;
    background-color: white;
    padding: 2rem 0;
}
.contact__content textarea{
    width: 90%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
}